body {
    background-color: #Daa520;
    margin:0px;
}

img {
    position:absolute;
    width:100%;   
}



.cabecalho > h1 {
    margin-top:0px;
    background: linear-gradient(to right, black, #Daa520);
    
    color: #Daa520;
    font-size: 60px;
    text-shadow: 0px 0px 9px #ffffff;
    

    padding: 30px;
    width: 1283px;
    height: 80px;

    position:relative;
}

.menu {
    
    position:relative;
    top:-60px;
    left:-60px;
}

.menu > a {
    color: white;
    display:inline-block;
    margin:5px;
    margin-left:50px;
    margin-right:10px;
    font-size:20px;
    text-decoration:none;
}




.contorno_formulario {
    background-color: #708090;
    width: 260px;
    height: 350px;
    border-radius: 5px;
    border: solid 1px rgb(255, 255, 255);

    margin: auto;
   
    padding-top: 5px;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.917);

    position:relative;
    top:-50px;
}

.formulario {
    background-color: #a9acadd5;
    width: 230px;
    height: 220px;
    border-radius: 5px;
    

    display: inline-block;
    position: relative;
    left: 15px;
}

.contorno_formulario > h1 {
    text-align: center;
    
    margin: 10px;
    margin-top: 25px;
}

div > p {
    color: white;
    text-align: justify;
    font-size: 120%;
    
    margin: 10px;
    margin-top: 25px;
}


.botao_entrar {
    background-color: #Daa520;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    border: solid 1px black;
    border-radius: 5px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.767);

    position: relative;
    top: 40px;
    left: 80px;

}

.criar_conta {
    background-color: #a9acadd5;
    width: 88%;
    height: 30px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
}

.criar_conta > a {
    color: rgb(248, 248, 248);
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    
}



