@media screen and (max-width: 720px){
    img {
        width: 100px;
        display: none;
    }
    .cabecalho > h1 {
        width:100%;
        padding: 0px;
        padding-top:10px;
        padding-left: 10px;
        font-size:40px;
        margin: 0px;
    }
    .menu{
        margin: 0px;
        position:relative;
        left: -40px;
        top:-15px;
        right:0px;
    }
    .menu > a {
        
        color: white;
        display:inline-block;
        margin:px;
        margin: 0px;
        margin-left:10px;
        margin-right:0px;
        font-size:20px;
        text-decoration:none;
    }
    .contorno_formulario {
        position:relative;
        top:50px;
    }

    .botao_entrar {
        background-color: #Daa520;
        padding: 10px;
        cursor: pointer;
        text-decoration: none;
        border: solid 1px black;
        border-radius: 5px;
        box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.719);
    
        position: absolute;
        top: 150px;
        left: 80px;
    
    }
}