@media screen and (max-width: 500px){
    img {
        width: 100px;
        display: none;
    }
    .cabecalho > h1 {
        width:400px;
        padding:10px;
        font-size:50px;
    }
    .menu{
        background-color:black;
        position:relative;
        left: 0px;
        top:-50px;
    }
    .menu > a {
        margin:0px;
        margin-right:20px;
        padding-left:20px;

        
    }
}